<div>
  <a class="list-group-item" style="cursor: pointer" (click)="showFullVersion()">
    <h4 class="list-group-item-heading">{{ post.title }}</h4>
    <p class="list-group-item-text" style="white-space: pre-line" *ngIf="!fullVersion">{{ post.text | shorten }}</p>
    <p class="list-group-item-text" style="white-space: pre-line" *ngIf="fullVersion">{{ post.text }}</p>
    <p class="text-right">Created by: {{ post.owner }}, {{ post.createdAt | date: 'medium' }}</p>
    <button class="btn btn-danger btn-sm" (click)="onDelete()" *ngIf="uid === post.ownerId">Delete Post</button>
  </a>
</div>
